<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Weather Forecast</title>
</head>
<body>

<h1>Edit Weather Forecast</h1>

<div>

    <form method="POST" action="/weather/update" th:object="${updateWeatherForm}">

        <table>
            <tr>
                <td><label>ID</label></td>
                <td><input th:field="*{id}" /></td>
            </tr>
            <tr>
                <td><label>Date (YYYY-MM-DD)</label></td>
                <td><input th:field="*{year}" /></td>
                <td><input th:field="*{month}" /></td>
                <td><input th:field="*{day}" /></td>
            </tr>
            <tr>
                <td><label>Latitude</label></td>
                <td><input th:field="*{latitude}" /></td>
            </tr>
            <tr>
                <td><label>Longitude</label></td>
                <td><input th:field="*{longitude}" /></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td><input th:field="*{city}" /></td>
            </tr>
            <tr>
                <td><label>State</label></td>
                <td><input th:field="*{state}" /></td>
            </tr>
            <tr>
                <td><label>Temp 1</label></td>
                <td><input th:field="*{temp1}" /></td>
            </tr>
            <tr>
                <td><label>Temp 2</label></td>
                <td><input th:field="*{temp2}" /></td>
            </tr>
            <tr>
                <td><label>Temp 3</label></td>
                <td><input th:field="*{temp3}" /></td>
            </tr>
            <tr>
                <td><label>Temp 4</label></td>
                <td><input th:field="*{temp4}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>

    </form>

</div>


</body>
</html>