<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Weather Forecast</title>
</head>
<body>

<h1>Weather Forecast</h1>
<div>
    <form method="POST" action="/weather/add" th:object="${addWeatherForm}">
        <table>
            <tr>
                <td><label>Date (YYYY-MM-DD)</label></td>
                <td><input th:field="*{year}" /></td>
                <td><input th:field="*{month}" /></td>
                <td><input th:field="*{day}" /></td>
            </tr>
            <tr>
                <td><label>Latitude</label></td>
                <td><input th:field="*{latitude}" /></td>
            </tr>
            <tr>
                <td><label>Longitude</label></td>
                <td><input th:field="*{longitude}" /></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td><input th:field="*{city}" /></td>
            </tr>
            <tr>
                <td><label>State</label></td>
                <td><input th:field="*{state}" /></td>
            </tr>
            <tr>
                <td><label>Temp 1</label></td>
                <td><input th:field="*{temp1}" /></td>
            </tr>
            <tr>
                <td><label>Temp 2</label></td>
                <td><input th:field="*{temp2}" /></td>
            </tr>
            <tr>
                <td><label>Temp 3</label></td>
                <td><input th:field="*{temp3}" /></td>
            </tr>
            <tr>
                <td><label>Temp 4</label></td>
                <td><input th:field="*{temp4}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>City</th>
            <th>State</th>
            <th>Temperature</th>
        </tr>
        <tr th:each="weather : ${weathers}">
            <td th:text="${weather.date}" />
            <td th:text="${weather.location.latitude}" />
            <td th:text="${weather.location.longitude}" />
            <td th:text="${weather.location.city}" />
            <td th:text="${weather.location.state}" />
            <td th:text="${weather.temperature.temp1}" />
            <td th:text="${weather.temperature.temp2}" />
            <td th:text="${weather.temperature.temp3}" />
            <td th:text="${weather.temperature.temp4}" />
        </tr>
    </table>
</div>

</body>
</html>